#NoteEditor { 
    display: flex; 
    flex-direction: 
    column; height: 100dvh; 
}

.controlSection { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 

    padding: 10px; 
    border-bottom: 1px solid var(--border); 
    gap: 8px; 
}

.controlDiv { 
    display: flex; 
    gap: 8px; 
}

.controlDiv input { 
    padding: 8px 10px; 
    border: 1px solid var(--input-border); 
    border-radius: 6px; 
    font-size: 0.9em; 
    background: var(--input-bg);
    color: var(--text);
}

.controlDiv button { 
    padding: 8px 12px; 
    border-radius: 6px; 
    cursor: pointer; 
    transition: filter 0.2s;
    background-color: transparent;
    border: 1px solid var(--input-border);
}

.controlDiv button:hover { filter: brightness(85%); }

.savButton { color: rgb(0, 150, 0); }
.delButton { color: rgb(214, 26, 26); }
.dupButton, .newButton { color: var(--text);}

.svg {
    width: 20px;
    height: 20px;
}

.textContent { 
    flex: 1; 
    resize: none; 
    padding: 16px; 
    border: none; 
    font-size: 1.3em; 
    outline: none; 
    background: var(--textarea-bg);
    color: var(--text);
}