#SearchBar { 
    padding: 12px; 
    display: flex; 
    flex-direction: column; 
    
    gap: 8px; 
    border-bottom: 1px solid var(--border); 
}

#SearchBar input, #SearchBar select { 
    width: 100%; 
    height: 32px;
    padding: 6px 10px; 

    border: 1px solid var(--input-border); 
    border-radius: 6px; 
    font-size: 0.9em; 

    background: var(--input-bg);
    color: var(--text);
}

.filterDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.catFilter { flex: 8 }

.favFilter { 
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 8px 12px; 
    border-radius: 6px; 
    height: 32px;

    cursor: pointer;
    transition: filter 0.2s;

    background-color: transparent;
    border: 1px solid var(--input-border);
}

.favFilter:hover { filter: brightness(85%); }

.svg {
    width: 22px;
    height: 22px;
}