#mainDiv {
  display: flex;
  height: 100dvh;
}

#leftColumn { 
  width: 260px; 
  min-width: 260px; 
  
  display: flex; 
  flex-direction: column; 
  
  border-right: 1px solid var(--border); 
  background: var(--bg-secondary); 
}

#rightColumn { flex: 1; }

@media (max-width: 767px) {
  .hidden-mobile { display: none !important; }
  #leftColumn { width: 100%; min-width: 100%; }
}

@media (min-width: 768px) {
  #leftColumn, rightColumn { display: flex! important; }
}